<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:util="http://www.springframework.org/schema/util"
	xmlns:encryption="http://www.jasypt.org/schema/encryption"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.2.xsd
		http://www.jasypt.org/schema/encryption http://www.jasypt.org/schema/encryption/jasypt-spring31-encryption-1.xsd">

	<encryption:encryptor-config id="encryptorConf" password-env-name="ENCRYPTION_PASSWORD" algorithm-env-name="ENCRYPTION_ALGORITHM" />
	<encryption:string-encryptor id="stringEncryptor" config-bean="encryptorConf" /> 

	<encryption:encryptable-property-placeholder
		encryptor="stringEncryptor"
		location="classpath*:spring.properties,classpath*:local-server.properties" />

	<util:map id="buildInfo" map-class="java.util.HashMap">
		<entry key="artifactId" value="${build.artifactId}" />
		<entry key="version"    value="${build.version}" />
		<entry key="timestamp"  value="${build.timestamp}" />
	</util:map>

	<bean id="masterDataSource" class="org.springframework.jndi.JndiObjectFactoryBean">
		<property name="jndiName"        value="java:comp/env/jdbc/masterdata"/>
		<property name="lookupOnStartup" value="false"/>
		<property name="cache"           value="true"/>
		<property name="proxyInterface"  value="javax.sql.DataSource"/>
	</bean>

	<bean id="badgeDataSource" class="org.apache.commons.dbcp2.BasicDataSource" destroy-method="close">
		<property name="driverClassName"   value="${badge.jdbc.driver}" />
		<property name="url"               value="${badge.database.url}" />
		<property name="username"          value="${badge.database.username}" />
		<property name="password"          value="${badge.database.password}" />
		<property name="defaultAutoCommit" value="true" />
	</bean>

	<bean id="portraitDataSource" class="org.apache.commons.dbcp2.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName"   value="${photo.jdbc.driver}" />
		<property name="url"               value="${photo.database.url}" />
		<property name="username"          value="${photo.database.username}" />
		<property name="password"          value="${photo.database.password}" />
		<property name="defaultAutoCommit" value="true" />
	</bean>

	<bean id="utilDataSource" class="org.apache.commons.dbcp2.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName"   value="${util.jdbc.driver}" />
		<property name="url"               value="${util.database.url}" />
		<property name="username"          value="${util.database.username}" />
		<property name="password"          value="${util.database.password}" />
		<property name="defaultAutoCommit" value="true" />
	</bean>

	<bean id="eclipsysDataSource" class="org.apache.commons.dbcp2.BasicDataSource"
		destroy-method="close">
		<property name="driverClassName"   value="${eclipsys.jdbc.driver}" />
		<property name="url"               value="${eclipsys.database.url}" />
		<property name="username"          value="${eclipsys.database.username}" />
		<property name="password"          value="${eclipsys.database.password}" />
		<property name="defaultAutoCommit" value="true" />
	</bean>

	<bean id="serviceNowServer" class="java.lang.String">
		<constructor-arg value="${servicenow.server}" />
	</bean>

	<bean id="serviceNowUser" class="java.lang.String">
		<constructor-arg value="${servicenow.username}" />
	</bean>

	<bean id="serviceNowPassword" class="java.lang.String">
		<constructor-arg value="${servicenow.password}" />
	</bean>

	<bean id="eventService" class="edu.ucdavis.ucdh.stu.snutil.util.EventService">
		<constructor-arg value="${servicenow.server}" />
		<constructor-arg value="${servicenow.username}" />
		<constructor-arg value="${servicenow.password}" />
	</bean>

</beans>